<h1>Add Dealerships</h1>

<p>Type dealership here:</p>
<form action="/dealerships" method="post">

  <label for="name">Dealership's Name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Add to list</button>

</form>

<p><a href="/">Back</a></p>
